<div class="menu-content">
  <h2>Menu Lateral</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quo consequuntur nemo assumenda totam reprehenderit dolores necessitatibus. Ut incidunt voluptas error tenetur quo repudiandae assumenda, earum eos, iusto non expedita ea itaque aut quaerat. Soluta blanditiis neque sit, distinctio voluptatem, nobis provident deleniti placeat explicabo sapiente perferendis veritatis temporibus tenetur corporis eligendi culpa corrupti dolor sint? Neque numquam assumenda vitae consequatur voluptate!</p>
</div>
